# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/

# Editors
*.swp
*.swo

# OS
.DS_Store
1~# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/

# Editors
*.swp
*.swo

# OS
.DS_Store
