[Unit]
Description=Run LinkX Artifact Backup Daily

[Timer]
OnCalendar=*-*-* 01:45:00 UTC
RandomizedDelaySec=20m
Persistent=true
Unit=linkx-artifacts-backup.service

[Install]
WantedBy=timers.target
